src/main/resources/xsd/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="nonEmptyString"/>
                <xs:element name="description" type="xs:string" minOccurs="0"/>
                <xs:element name="pageCount" type="xs:int" minOccurs="0"/>
                <xs:element name="excerpt" type="xs:string" minOccurs="0"/>
                <xs:element name="publishDate" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="nonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
