src/main/resources/schema/xsd/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!--
        Single source of truth for the Book XML structure.
        Used by: Feature 3 (XML validation report) and Feature 8 (XML import).
    -->
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long" minOccurs="0"/>
                <xs:element name="title">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="1"/>
                            <xs:maxLength value="500"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="description" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="4000"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="pageCount">
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="excerpt" minOccurs="0">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="4000"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="publishDate" type="xs:dateTime" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
